.post-item-wrap {
  --length-margin: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 26px 30px;
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .post-item-wrap {
    --items-per-row: 2;
  }
}
@media screen and (min-width: 768px) {
  .post-item-wrap {
    --items-per-row: 3;
  }
}
article.post-item-card {
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #c2cccf;
  display: block;
  margin: var(--length-margin);
  width: calc((100% / var(--items-per-row)) - var(--length-margin) * 2);
}

article.post-item-card {
  transition: all 0.2s ease 0s;
}
article.post-item-card h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 16px;
}
article.post-item-card p {
  font-size: 15px;
}
article.post-item-card *:link {
  text-decoration: none;
}
article.post-item-card > *:last-child {
  margin-block-end: 1.33rem;
}
article.post-item-card div.post-item-card-image img {
  max-height: 200px;
  width: 100%;
  overflow-x: hidden;
}
article.post-item-card:hover {
  transform: translateY(-0.5rem) scale(1.0125);
  transition: ease 0.2s;
  box-shadow: 5px 5px 3rem -1rem #8c9395;
}

div.post-item-card-detail {
  margin: 10px 20px;
}

.entry div a.post-category,
div.post-category__wrapper a:link,
div.post-category__wrapper a:active,
div.post-category__wrapper a:visited,
div.post-category__wrapper a:hover,
div.post-category__wrapper a {
  color: inherit;
  text-decoration: none;
  box-shadow: none;
}

div.post-category__wrapper a {
  display: inline-block;
}
div.post-category__wrapper a:hover {
  box-shadow: none;
}

div.post-category__item {
  display: inline-block;
  transition: all 0.2s ease 0s;
  box-shadow: 2px 5px 10px 0 #acacac;
  padding-right: 12px;
  margin: 10px;
  width: 360px;
  height: 84px;
  /* Ho to make gradient border https://segmentfault.com/a/1190000040794056 */
  border: 4px solid transparent;
  border-radius: 16px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, #fff, #fff), linear-gradient(90deg, #d42121 0%, #5e59be 100%);
}
div.post-category__item:hover {
  transform: translateY(-4px);
  transition: ease 0.2s;
  box-shadow: 2px 10px 16px 0 #acacac;
}
div.post-category__item div.post-category__logo {
  display: table-cell;
  vertical-align: top;
  margin: 10px;
  padding-top: 6px;
}
div.post-category__item div.post-category__logo img {
  display: block;
  max-width: 70px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
div.post-category__item div.post-category__content {
  display: table-cell;
  margin-left: 120px;
}
div.post-category__item div.post-category__content h4 {
  margin-block-start: 8px;
  margin-block-end: 4px;
  font-size: 15px;
}
div.post-category__item div.post-category__content p {
  margin-block-start: 0;
  margin-block-end: 10px;
  line-height: 1.4em;
  font-size: 14px;
}

/* codepen.io */
ul.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
  padding-left: 0;
}
ul.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: " ";
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: #505050;
  background: -moz-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(100%, #7db9e8));
  background: -webkit-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  background: -o-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  background: -ms-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  z-index: 5;
}
ul.timeline li {
  padding: 1em 0;
}
ul.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.entry ul.timeline li {
  list-style: none;
}

.timeline-item__left {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.timeline-item__right {
  position: relative;
  width: 300px;
  float: right;
}

.timeline-item__flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}

.timeline-item__flag {
  position: relative;
  display: inline;
  background: #f8f8f8;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
}

.timeline-item__left .timeline-item__flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.timeline-item__right .timeline-item__flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.timeline-item__left .timeline-item__flag:before,
.timeline-item__right .timeline-item__flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid #ff5050;
  z-index: 10;
}

.timeline-item__right .timeline-item__flag:before {
  left: -40px;
}

.timeline-item__left .timeline-item__flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}

.timeline-item__right .timeline-item__flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}

.timeline-item__time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  color: #fa5050;
  vertical-align: middle;
}

.timeline-item__left .timeline-item__time-wrapper {
  float: left;
}

.timeline-item__right .timeline-item__time-wrapper {
  float: right;
}

.timeline-item__time {
  display: inline-block;
  padding: 4px 6px;
  background: #f8f8f8;
}

.timeline-item__desc {
  margin: 1em 0.75em 0 0;
  font-size: 0.77777em;
  line-height: 1.5em;
}

.timeline-item__right .timeline-item__desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */
@media screen and (max-width: 820px) {
  .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
  }

  .timeline li {
    padding: 2em 0;
  }

  .timeline-item__left,
.timeline-item__right {
    float: none;
    width: 100%;
    text-align: center;
  }

  .timeline-item__flag-wrapper {
    text-align: center;
  }

  .timeline-item__flag {
    background: white;
    z-index: 15;
  }

  .timeline-item__left .timeline-item__flag:before,
.timeline-item__right .timeline-item__flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: " ";
    display: block;
    width: 12px;
    height: 12px;
    margin-left: -9px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid #ff5050;
    z-index: 10;
  }

  .timeline-item__left .timeline-item__flag:after,
.timeline-item__right .timeline-item__flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: white;
    border-width: 8px;
    pointer-events: none;
  }

  .timeline-item__time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }

  .timeline-item__left .timeline-item__time-wrapper,
.timeline-item__right .timeline-item__time-wrapper {
    float: none;
  }

  .timeline-item__desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: whitesmoke;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    z-index: 15;
  }

  .timeline-item__left .timeline-item__desc,
.timeline-item__right .timeline-item__desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    z-index: 15;
  }
}
@media screen and (min-width: 400px) and (max-width: 820px) {
  .timeline-item__left .timeline-item__desc,
.timeline-item__right .timeline-item__desc {
    margin: 1em 4em 0 4em;
  }
}