
.entry .text-frame {
    border: 1px solid black; 
    padding: 4px;
}

.entry strong {
    color: #486eb4;
}

.math { color: #486eb4; /*font-size: 14px;*/ }
.entry blockquote p { color: #868990; }
.entry blockquote .math { color: #5e8ce2; }