#reading-progress {
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 3px;
  transition-duration: 0.5s, 0.5s;
  z-index: 9900;
}

.codeblock-sidebyside > *,
.codeblock,
.vscode-block {
  margin-bottom: 15px;
  font-family: var(--font-code);
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  padding: 6px;
}

.codeblock,
.codeblock-sidebyside,
.vscode-block {
  border: 1px solid silver;
}

.code-highlight {
  white-space: pre-wrap;
  line-height: 19px;
  padding: 5px;
  font-size: 14px;
}

.code-nowrap {
  white-space: nowrap;
}

/* div.code-highlight {
    margin-bottom: 15px;
    border: 1px solid silver;
    font-family: var(--font-code);
    font-weight: normal;
    line-height: 19px;
    white-space: pre-wrap;
} */
div.code-template {
  color: black;
  font-family: var(--font-code);
  padding: 5px;
  border: 1px solid black;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 18px;
}

div.code-template span.token-comment {
  color: gray;
}

div.code-console {
  color: white;
  background-color: black;
  font-family: var(--font-code);
  padding: 5px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 18px;
  white-space: pre-wrap;
}
div.code-console span.token-venv {
  color: lightgreen;
}
div.code-console span.token-succ {
  color: lightgreen;
}
div.code-console span.token-comd {
  color: yellow;
}
div.code-console span.token-label {
  color: skyblue;
}

.token-file {
  color: #0077ff;
}

.token-error {
  color: red;
}

@media screen and (min-width: 768px) {
  div.codeblock-sidebyside {
    display: table;
    width: 100%;
    margin: 16px auto;
  }

  div.codeblock-sidebyside > * + * {
    border-left: 1px solid #ccc;
  }

  div.codeblock-sidebyside > * {
    display: table-cell;
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  div.codeblock-sidebyside {
    display: block;
    width: 100%;
    margin: 16px 0;
  }

  div.codeblock-sidebyside > * {
    margin-bottom: 2px;
  }

  div.codeblock-sidebyside > *:last-child {
    margin-bottom: 15px;
  }
}
.entry table.table-compact {
  width: fit-content;
}

.entry figure.parallel div {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

.entry figure.figure-sidebyside > * {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

/* section */
.entry div.section.command {
  border: 1px solid;
  padding: 5px;
  line-height: 1.5em;
  margin-top: 15px;
  margin-bottom: 15px;
}

.entry div.section.command h5 {
  font-size: 22px;
  margin-left: 3em;
  margin: 0 0 0 10px;
}

.entry div.section.command table {
  text-align: left;
  margin: 0;
}

.entry div.section.command table td,
.entry div.section.command table th {
  background-color: #fff;
  background: none;
  padding-top: 0;
  padding-bottom: 0;
}

.entry div.section.command table th {
  width: 60px;
}

/* .entry div.section.command table td {
} */
.codeblock.compare {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
}

.codeblock.compare > * {
  width: 50%;
  display: table-cell;
}

.codeblock-compare {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
}

.codeblock-compare > * {
  width: 50%;
  display: table-cell;
}

/* section.codeblock.compare > *:first-child {
    float: left;
}

section.codeblock.compare > *:last-child {
    margin-left: auto;
} */
.codeblock.compare > * {
  margin: 10px;
}

.codeblock.compare:after {
  clear: both;
}

.entry div.section-arguments {
  display: table;
  border-spacing: 16px 4px;
}

.entry div.section-arguments-item {
  display: table-row;
}

.entry div.section-arguments div.section-arguments-item div {
  display: table-cell;
}

/* jupyter notebook */
/* - cover original css */
.entry .jupyter table th,
.entry .jupyter table td {
  border: none;
  font-weight: inherit;
  text-align: left;
  padding: inherit;
  padding-right: inherit;
  padding-left: inherit;
}

.entry .jupyter table th {
  font-weight: bold;
}

.entry .jupyter table tr.alt {
  background: inherit;
}

/* - new rules */
.jupyter {
  border: 1px solid black;
  padding: 5px;
}

.jupyter .jupyter-mark-in,
.jupyter .jupyter-mark-out {
  float: left;
  /* background-color: white; */
  color: #616161;
  font-family: var(--font-code);
  font-size: 14px;
  font-style: normal;
  line-height: 19px;
}

.jupyter .jupyter-output {
  color: #616161;
  font-family: var(--font-code);
  font-size: 14px;
  font-style: normal;
  line-height: 19px;
  /* margin-bottom: 15px;  */
  padding-left: 70px;
  white-space: pre-wrap;
}

.jupyter .jupyter-separator {
  border-top: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
  /* width: 102%; */
  /* left: -10px; */
}

.jupyter div.vscode-block {
  padding: 0;
  padding-left: 70px;
  margin-bottom: 0;
  border: none;
}

.jupyter .jupyter-output .notes {
  font-size: 13px;
  font-family: Arial, sans-serif;
  color: #90a4ae;
}

.jupyter .jupyter-output table.pandas-dataframe {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  border: none;
  text-align: right;
  width: fit-content;
  color: #90a4ae;
}

.jupyter .jupyter-output table.pandas-dataframe tr:nth-child(odd) {
  background-color: whitesmoke;
}

.jupyter .jupyter-output table.pandas-dataframe tr td,
.jupyter .jupyter-output table.pandas-dataframe tr th {
  font-size: 13px;
  padding-left: 5px;
  padding-right: 5px;
}

.jupyter .jupyter-output table.pandas-dataframe tr td[rowspan],
.jupyter .jupyter-output table.pandas-dataframe tr th[rowspan] {
  vertical-align: top;
}

.jupyter table.pandas-dataframe td.emphasis,
.jupyter table.pandas-dataframe th.emphasis {
  color: #ff6e6e;
}

.jupyter .jupyter-output img.matplotlib-output {
  max-width: 400px;
}

.jupyter .jupyter-output div.sklearn-model {
  width: fit-content;
  border-collapse: collapse;
}

.jupyter .jupyter-output div.sklearn-model p:first-child {
  margin-block-start: 6px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.jupyter .jupyter-output div.sklearn-model p:last-child {
  margin-block-end: 6px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.jupyter .jupyter-output div.sklearn-model p {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 5px;
  margin: -1px 0 0 0;
  background-color: aliceblue;
  border: 1px solid grey;
  font-family: monospace;
  font-size: 13px;
  line-height: 1.5em;
}

/* Attribute Table Widget */
.attribute-table {
  max-width: 600px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 16px;
  background-color: #fff;
}

.attribute-table__title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.attribute-table__item {
  display: flex;
}
.attribute-table__item:last-child {
  margin-bottom: 0;
}

.attribute-table__name {
  font-weight: bold;
  white-space: nowrap;
  margin-right: 10px;
  flex-shrink: 0;
  width: 6em;
}

.attribute-table__value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
}

.article-link-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}
.article-link-card a {
  display: flex;
  align-items: stretch;
  background-color: #f9f5fb;
  font-weight: 500;
  text-decoration: none;
  text-decoration-style: none;
  padding: 0 3px;
  box-shadow: none;
}
.article-link-card a:hover {
  box-shadow: none;
}
.article-link-card .article-link-card__cover {
  margin: 12px;
  position: relative;
}
.article-link-card .article-link-card__cover img {
  height: 120px;
  border-radius: 4px;
}
.article-link-card .article-link-card__cover::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(128, 128, 128, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
}
.article-link-card .article-link-card__content {
  margin: 0 20px 0 10px;
  flex: 1;
}
.article-link-card .article-link-card__content h5 {
  margin: 0.7em 0 0.3em;
  color: #555;
}
.article-link-card .article-link-card__content .article-link-card__category {
  font-weight: bold;
  color: #5e59be;
}
.article-link-card .article-link-card__content .article-link-card__time {
  color: #999999;
  font-size: 15px;
}
.article-link-card .article-link-card__content p {
  margin: 0.5em 0;
  font-size: 15px;
  color: #666;
}

div.widget.widget_custom_html div#tableofcontents h4 {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

div.widget.widget_custom_html div#tableofcontents ol {
  counter-reset: nested-ordered;
  list-style-type: none;
  margin-left: 10px;
}

div.widget.widget_custom_html div#tableofcontents ol li {
  margin-top: 4px;
  margin-bottom: 4px;
}

div.widget.widget_custom_html div#tableofcontents ol li:before {
  counter-increment: nested-ordered;
  content: counters(nested-ordered, ".") ": ";
  color: brown;
}